/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Main Styling */
html,body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.7em;
}

a{
    color: #333;
    text-decoration: none;
}

h1,h2,h3{
    padding-bottom: 20px;
}

#navbar .logo a:hover{
    color: #f7c08a;
}

p{
    margin: 10px;
}

/* Utility Classes*/

.container{
    margin: auto;
    max-width: 1100px;
    overflow: auto;
    padding: 0px 20px;
}

.container-2{
    margin: auto;
    max-width: 400px;
    overflow: auto;
    padding: 0px 20px;
}

.text-primary{
    color: #f7c08a;
}

.lead{
    font-size: 20px;
}

.btn{
    display: inline-block;
    color: #fff;
    font-size: 18px;
    background: #333;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}

.btn:hover{
    color: #f7c08a;
    background: #444;
}

.btn-light{
    color: #333;
    background: #fff;
}

.btn-light:hover{
    color: #928578;
    background: #f4f4f4;
}

.bg-dark{
    background: #333;
    color: #fff;
}

.bg-light{
    background: #f4f4f4;
    color: #333;
}

.bg-primary{
    background: #f7c08a;
    color: #333;
}

.clr{
    clear: both;
}

.l-heading{
    font-size: 40px;
    line-height: 1.2;
}

/* Padding */

.py-1{padding: 10px 0px;}
.py-2{padding: 20px 0px;}
.py-3{padding: 30px 0px;}
.px-1{padding: 0px 10px;}
.px-2{padding: 0px 20px;}
.px-3{padding: 0px 30px;}

/* Navbar */

#navbar{
    background: #333;
    color: #fff;
    overflow: auto;
}

#navbar a{
    color: #fff;
}

#navbar .logo{
    float: left;
    padding-top: 20px;
}

#navbar ul{
    list-style: none;
    float: right;
}

#navbar ul li{
    float: left;
}

#navbar ul li a{
    display: block;
    padding: 20px;
    text-align: center;
}

#navbar ul li a:hover, 
#navbar ul li a.current{
    background: #444;
    color: #f7c08a;
}

/* Showcase */

#showcase{
    background: url("../img/showcase-2.jpg") no-repeat center center/cover;
    height: 600px;
}

#showcase .showcase-content{
    color: #fff;
    text-align: center;
    padding-top: 170px;
}

#showcase .showcase-content h1{
    font-size: 60px;
    line-height: 1.2em;
}

#showcase .showcase-content p{
    padding-bottom: 20px;
    line-height: 1.7em;
}

/* Features */

.box{
    float: left;
    display: block;
    width: 33.3%;
    padding: 50px;
    text-align: center;
}

.box i{
    margin-bottom: 10px;
}

/* Home-Info */

#home-info{
    height: 450px;
}

#home-info .info-img{
    float: left;
    background: url("../img/photo-1.jpg") no-repeat center center/cover;
    width: 50%;
    min-height: 100%;
}

#home-info .info-content{
    float: right;
    height: 100%;
    width: 50%;
    text-align: center;
    padding: 30px 15px;
    overflow: hidden;
}

#home-info .info-content p{
    padding-bottom: 30px;
}

/* About Info */

#about-info .info-left{
    float: left;
    width: 50%;
    height: 100%;
}

#about-info .info-right{
    float: right;
    width: 50%;
    min-height: 100%;
}

#about-info .info-right img{
    display: block;
    margin:auto auto;
    width: 70%;
    border-radius: 50%;
}

/* Testimonials */

#testimonials{
    height: 100%;
    background: url("../img/test-bg.jpg") no-repeat center center/cover;
    padding-top: 100px;
}

#testimonials h2{
    color: #fff;
    text-align: center;
    padding: 40px;
}

#testimonials .testimonial{
    padding: 20px;
    margin-bottom: 40px;
    border-radius: 5px;
    opacity: 0.75;
}

#testimonials .testimonial img{
    width: 100px;
    float: left;
    margin-right: 20px;
    border-radius: 50%;
}

#contact-form .form-group{
    margin-bottom: 20px;
}

#contact-form label{
    display: block;
    margin-bottom: 5px;
}

#contact-form input,
#contact-form textarea{
    width: 100%;
    padding: 10px;
    border: 1px #ddd solid;
}

#contact-form input:focus,
#contact-form textarea:focus{
    outline: none;
    border-color: #f7c08a;
}

#contact-form textarea{
    height: 200px;
}

#contact-info .container .box:hover{
    background: #928578;
}

/* Login */

#login{
    height: 88vh;
    background: url("../img/showcase-1.jpg") no-repeat center center/cover;
    padding-top: 150px;
}

.form-login {
    opacity: 0.8;
    padding: 15px;
  }

  .form-login h1,
  .form-login p,
  #login p {
    text-align: center;
  }

  .form-login .form-label {
    margin: 10px 25px;
  }

  .form-login .form-label label {
    display: block;
    color: #f4f4f4;
  }

  .form-login .form-label input {
    width: 100%;
    padding: 6px;
    border:#ddd 1px solid;
    border-radius: 5px;
  }
  .form-login .form-label input:hover{
    background: #cfcfcf;
  }

  .form-login button {  
    display: block;    
    width: 90%;
    padding: 10px;
    border: #ddd 1px solid;
    margin:30px auto ;
    margin-top: 20px;
    background: #f7c08a;
    color: #fff;
    cursor: pointer;
  }

  .form-login button:hover {
    background: #f59e48;
    color: #f4f4f4;
  }

  .text-primary:hover{
      color: #f59e48;
  }

/* Register */

#sign-up{
    height: 88vh;
    background: url("../img/showcase-1.jpg") no-repeat center center/cover;
    padding-top: 100px;
}


/* Footer */
#main-footer{
    color: #fff;
    text-align: center;
    background: #444;
    padding: 5px;
}